.avatarsection{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    margin: 16px 16px 12px;
    min-height: 120px;
    display: block;
    width: 152px;
    height:220px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    margin: 16px;
    background-color: #f2f2f2;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 4px 0 rgb(0 0 0 / 15%);
}

